@model IEnumerable<GestaoTarefasIPG.Models.Setor>

@{
    ViewData["Title"] = "Index";
}

<h1 style="position: relative;">Setores</h1>

<p>
    <a asp-action="Create" style="position: relative;">Criar novo setor</a>
</p>
<table class="table" style="position: relative;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody style="font-size:20px; color:white">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Local)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SetorId" class="btn btn-dark">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.SetorId" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.SetorId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>